.App {
  font-family: sans-serif;
}

.navbar{
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #008669;
  margin-top: 60px;
}

.nav-heading{
  color: #008669;
}

.nav-link{
  float: right;
}

.nav-home{
  margin-left: 150px;
  text-decoration: none;
}

.create-link{
  background-color: #008669;
  padding: 5px 10px;
  border-radius: 5px;
  color: #ffffff;
  margin-left: 20px;
  text-decoration: none;
}

.login-link{
  background-color: #008669;
  padding: 5px 10px;
  border-radius: 5px;
  color: #ffffff;
  margin-left: 20px;
  text-decoration: none;
}

.home-preview {
  padding: 20px;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
}

.create-preview {
  padding: 20px;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
}

.login-preview {
  padding: 20px;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
}